* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active {outline: none;}
a:focus, a:active {outline: none;}

nav, footer, header, aside {display: block;} 

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 1.2em;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

import, button, textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

button {
	margin: 5px;
	background-color: #007ad9;
	color: #fff;
	height: 50px;
	min-width: 50px;
	padding: 10px;
	font-size: 1.2em;
	border: 1px solid;
	border-radius: 5px;
}

button:hover {
	background-color: #5babe9;
}

button:active {
	background-color: #005291;
}

.container-arrange-box {
	display: flex;
	justify-content: center;
	padding: 10px;
}

.arrange-box {
	display: flex;
	justify-content: center;
}

.list-item-box {
	width: 300px;
	height: 400px;
	border: 1px solid#ccc;
	border-radius: 10px;
	margin: 10px;
	overflow-y: auto;
}

.box-item {
	height: 40px;
	width: 100%;
	margin: 10px 0;
	padding-left: 10px;
	display: flex;
	align-items: center;
	background-color: aliceblue;
	cursor: pointer;
}

.box-item.active {
	color: white;
	background-color: #007ad9;
}

.block-btn {
	margin: auto 10px;
}

.block-btn button{
	display: block;
}

.arrow-btn {
	height: 25px;
	width: 25px;
	filter: invert(1);
}

.title {
	margin-top: 10px;
	font-size: 2em;
	font-weight: bold;
	text-align: center
}

#load-btn {
	margin: 10px auto;
	display: flex;
	justify-content: center;
}